/*
* Designed to complement lanyon.css and customize.
*
* codinfox
*
*/

::selection {
    background: #6a9fb5;
    color: #fff;
}
::moz-selection {
    background: #6a9fb5;
    color: #fff;
}

.masthead {
    z-index: 1;
    background-color: #fff;
}

.sidebar-toggle {
    z-index: 1;
}

@media (min-width: 30rem) {
    .masthead {
        position: fixed;
        width: 100%;
    }

    .container.content {
        padding-top: 5rem;
    }

    /*.codinfox-masthead-bg {
    background: #fff;
    width: 100%;
    height: 100%;
    opacity: 0.8;
    position: absolute;
    left: 0;
    top: 0;
    z-index: -1;
    }*/
}
.codinfox-profile-photo {
    text-align: center;
}
a.codinfox-profile-photo>img {
    width: 100%;
    height: auto;
}

.codinfox-logo {
    height: 30px;
    width: auto;
    vertical-align: text-bottom;
    display: inline;
    padding: 0;
    margin: 0;
}

.masthead a:focus, .masthead a:hover
{
    text-decoration: none !important;
}
.codinfox-index-bg {
    text-align: center;
    font-size: 0.75rem;
}
div.codinfox-index-bg>img {
    height: 28rem;
    width: auto;
    display: inline;
    margin-top: -1rem;
}

.codinfox-sns-flaticon {
    text-decoration: none;
    /*font-size: 0.75rem;*/
}
.codinfox-sns-flaticon>a{
    text-decoration: none;
    margin-right: .5em;
}
.codinfox-sns-flaticon>a:hover{
    color: #000;
}
.codinfox-sns-flaticon>div{
    opacity: 0.7;
    font-size: 0.65rem;
    text-align:right;
    margin-bottom:1rem;
    margin-top: -0.5rem;
}

.codinfox-about-img{
    margin:1rem auto;
    min-width: 30%;
    max-width: 40%;
    height: auto;
}
/* Category List */
/*.related {
padding-top: 2rem;
padding-bottom: 2rem;
border-top: 1px solid #eee;
}*/
.codinfox-category-list{
    padding-left: 0;
}
.codinfox-category-list li{
    list-style: none;
    counter-increment: decimal;
}
.codinfox-category-list li:before{
    content: counter(decimal) ".";
    padding-right: 0.5rem;
    font-size: 0.8rem;
}
.codinfox-category-list h3 {
    font-size: 0.75rem;
    margin-top: 0;
    display: inline;
}
.codinfox-category-list  li:only-child:before{
 content: "";
 display: none;
}

.theme-base-08 .codinfox-category-list h3 a{
    color: #666;
}
.theme-base-08 .codinfox-category-list h3 a:hover{
    color: #ac4142;
}
.codinfox-category-list li small {
    font-size: 0.7rem;
    color: #999;
    text-transform: lowercase;
}
.codinfox-category-list li a:hover {
    text-decoration: none;
}

.codinfox-category-mark {
    font-weight: 700;
    letter-spacing: 0.1em;
    display: inline-block;
    border-bottom: 0.1rem solid #ececec;
    background: #f8f8f8;
    padding: 0 0.2rem;
    text-transform: uppercase;
    font-size: 0.675rem;
}

.codinfox-category-mark:hover {
    color: #000 !important;
}

.codinfox-tag-mark{
    font-size: 0.7rem;
    padding: 0 .2rem 0 .5rem;
    background: #f8f8f8;
    color: #6a9fb5;
}
.codinfox-post-more a{
    font-weight: 700;
    letter-spacing: 0.1em;
    display: inline-block;
    border-bottom: 0.1rem solid #ececec;
    background: #f8f8f8;
    padding: 0.2rem 0.5rem;
    text-transform: uppercase;
    font-size: 0.5rem;
}
.page-title {
    text-transform: uppercase;
    font-size: 1.2rem;
    font-weight: 600;
    color: #ac4142;
}

html {
    font-family: "Helvetica Neue", Helvetica, "Segoe UI", Arial, freesans, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    background:#fff;
    -webkit-text-size-adjust:100%;
    -ms-text-size-adjust:100%;
    text-rendering:optimizelegibility;
    -moz-osx-font-smoothing: antialiased;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Helvetica Neue", Helvetica, "Segoe UI", Arial, freesans, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-weight:400;
}

code,
pre {
    font-family: Consolas, "Liberation Mono", Menlo, Courier, monospace;
    font-size: 12px;
    overflow: auto;
}

blockquote {
    font-weight:300;
    font-family: "Helvetica Neue", Helvetica, "Segoe UI", Arial, freesans, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

@media (min-width: 38rem) {
    .post h2, .post h3, .post h4, .post h5, .post h6 {
        /*margin-left: -1rem;*/
        margin-bottom: .5rem;
    }
}
h1, h2, h3, h4, h5, h6 {
    margin-top: 1em;
    margin-bottom: 16px;
}
.post {
    font-size: 0.8rem;
}

.post h1 {
    padding-bottom: 0.3em;
    font-size: 30px;
    line-height: 1.2;
    border-bottom: 1px solid #eee;
    font-weight: 400;
}
.post h2 {
    padding-bottom: 0.3em;
    font-size: 1.75em;
    line-height: 1.225;
    border-bottom: 1px solid #eee;
}
.post h3 {
    font-size: 1.5em;
    line-height: 1.43;
    font-weight: normal;
}
.post h4, .post h5, .post h6 {
    margin-top: 1rem;
    font-size: 1.25em;
    font-weight: normal;
}

.codinfox-changing-keywords {
    width: 7em;
    position: relative;
    vertical-align: top;
    display: inline-block;
}

.codinfox-changing-keywords b {
    /* width: 7em; */
    color: #fff;
    position: absolute;
    text-align: center;
    top:.3em;
    display: inline-block;
    opacity: 0;
    transition: all 0.2s ease-out;
}

.codinfox-changing-keywords b.hidden {
    animation: slide-out 0.6s;
    -webkit-animation: slide-out 0.6s;
}

.codinfox-changing-keywords b.visible {
    opacity: 1;
    top:0;
    animation: slide-in 0.6s;
    -webkit-animation: slide-in 0.6s;
}
.related-posts li h3{
    font-size: 0.8rem;
}
h1:first-letter , h2:first-letter, h3:first-letter, h4:first-letter {
    text-transform: uppercase;
}
